.bingoCard {
  border: none;
  min-height: 10.48in;
  height: 10.48in;
}

.bingoCard header {
  text-align: center;
  height: 1.25in;
  min-height: 1.25in;
}

.bingoCard header h1 {
  margin: 0;
  font-weight: bold;
}

.bingoCard table.card {
  border-collapse: collapse;
  width: 7.5in;
  margin: 0 auto;
}
.bingoCard table.card thead tr th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  width: 1.5in;
  max-width: 1.5in;
  min-width: 1.5in;
  height: 0.5in;
  font-weight: bold;
  font-size: 24pt;
  background-color: lightblue;
}

.bingoCard table.card tbody tr td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  max-width: 1.5in;
  min-width: 1.5in;
  height: 1.5in;
  max-height: 1.5in;
  min-height: 1.5in;
  font-weight: bold;
  font-size: 20pt;
  line-height: 20pt;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.bingoCard:nth-of-type(n+1) {
  page-break-before: always;
}

.bingoCard .config {
  font-size: 9px;
  background-color: #eee;
  padding: 10px;
  max-height: 8.5in;
  min-height: 8.5in;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.bingoCard footer {
  position: relative;
  width: 100%;
  height: 1.04in;
  min-height: 1.04in;
}
.bingoCard footer .tagline {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.bingoCard footer .tagline h2 {
  font-size: 10pt;
  text-align: center;
}